.bottom-image img{
    vertical-align:bottom;
}
div {
    font-family: monospace;
}
p {
    font-family: monospace;
}

p#post_content {
    border: 5px solid black;
}
#borderAround {
    border: 3px solid black !important;
    border-radius: 10px;
    padding: 10px !important;
}