{% extends 'base.html' %}

{% block body %}
<h1 class="display-2">
    Me
    <a href="/myprofile/edit">
        <img width="40" src="/static/edit.png">
    </a>
</h1>


<div class="row">
    <div class="col-2">
        {% if current_user.image %}
            <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
        {% else %}
            <img class="img-thumbnail" width = "100" src="/static/bdog.jpg">
        {% endif %} 
    </div>
    <div class="col display-5">
        {% if current_user.fname and current_user.lname %}
            Real Name: {{current_user.fname}}  {{current_user.lname}} <br>
        {% endif %}
        
        Email: {{current_user.email}} <br>
        <p><i>email me ;)</i></p>
    </div>
    <hr class="featurette-divider">
    <div class="container marketing">
        <br>
        <h2 style="text-align: center; padding: 30px;"><u>Who is this guy, "Crawford"?</u></h2>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Who are you? <span class="text-muted">Lemme tell you</span></h2>
                <p class="lead">
                    I'm Crawford Patten. I don't like it when dumb people run important stuff.
                    <br>
                    <!-- Rick-rolled by Github Copilot:
                    I'm a software engineer. I'm a big fan of the <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img width="40" src="/static/youtube.png"></a>
                    -->
                    <br>
                    Public schools have consistently been under fire for decades.  The central issue: funding. The aim of this website is to help people understand how inconsistent funding has been implemented. The disparty in public school quality between neighborhoods is a big problem. Student of color often attend schools with lower budgets, while White students are often attending schools with budgets that are much more condusive to education.
                </p>
                <hr class="featurette-divider">
                <p>
                    <strong>What does my app do?</strong>
                    <br>
                    My app will have a map of the US. You will be able to hover over each state, and see the average funding for that state, the budget growth, and budget per student. If you click on the state, you will find recources provided by each state with official information and projections.
                </p>
            </div>
            <div class="col-md-5">
                <img src="./static/tom.jpg" alt="Reeeeeeally strong guy" style="height:390px">
            </div>
        </div>
    </div>
</div>
<br>

{% endblock %}