<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        {% if currState %}
            <h1>Update {{currState}}</h1>
        {% else %}
            <h1>Add State</h1>
        {% endif %}

        <!--List all errors in a group at the top-->
        {% for field in state.errors %}
            {% for error in state.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}
        
        {% if not currState %}
            <h3>States already stored:</h3>
            <div class="row">
                {% for stateName in states %}
                    <div class="col p-1 m-2 border border-3 border-primary rounded">
                        <h3><a href="/state/{{stateName.id}}">{{stateName.stateName}}</a></h3>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <hr>
        <div class="containter">
            <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                    <form method=post id="borderAround">
                        {{ state.hidden_tag() }}
                        <p>
                            {{ state.stateName.label }} <br>
                            <!-- {{ state.stateName(size=64) }} -->

                            <!-- IF we are on/editing a state, eliminate the dropdown -->
                            <!-- {% if currState %}
                                <p name="stateName" id="stateName" value="{{currState}}">{{currState}}</p>
                            {% else %}
                                dropdown list of all states
                                <select name="stateName" id="stateName">
                                    {% for name in stateList %}
                                        <option value="{{name}}">{{name}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %} -->
                            {% if currState %}
                                <input type="text" name="stateName" id="stateName" value="{{state.stateName.data}}">
                            {% else %}
                                <select name="stateName" id="stateName">
                                    <!-- Only put the state in the dropdown if it's not had info added-->
                                    {% for name in stateList %}
                                        {% if not name in states|map(attribute='stateName')|join(', ') %}
                                            <option value="{{name}}">{{name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% endif %}
                            <!--List the errors for this field-->
                            {% for error in state.stateName.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ state.totalBudget.label }} <br>
                            {{ state.totalBudget(size=64) }}
                            <!--List the errors for this field-->
                            {% for error in state.totalBudget.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ state.perCapitaBudget.label }} <br>
                            {{ state.perCapitaBudget(size=64) }}
                            <!--List the errors for this field-->
                            {% for error in state.perCapitaBudget.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ state.budgetGrowth.label }} <br>
                            {{ state.budgetGrowth(size=64) }}
                            <!--List the errors for this field-->
                            {% for error in state.budgetGrowth.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        

                        {{state.submit()}}
                    </form>
                </div>
            </div>
        </div>
        
{% endblock %}
