{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">States</h1>
    </div>
    <div class="col">
        <a href="/state/new" class="btn btn-primary btn-sm mt-5" role="button">New Post</a>
    </div>
</div>

{% if states %}
    {% for state in states %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/state/{{state.id}}">
                    {{moment(state.createdate).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{state.author.username}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">State</h3>
                {% endif %}
                {{state.stateName}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Last Modify</h3>
                {% endif %}
                <span style="color: red;">{{state.modifydate}}</span>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Posts</h1>
{% endif %}

{% endblock %}